In [60]:
import pandas as pd
import json
import numpy
from pprint import pprint
import requests

In [61]:
# load data using Python JSON module
my_file = '../Share/city_data.json'
with open(my_file ,'r') as f:
    data = json.loads(f.read())
# Flatten data
cities_df = pd.json_normalize(data)

In [62]:
cities_df.columns

Index(['datasetid', 'recordid', 'record_timestamp', 'fields.elevation',
       'fields.name', 'fields.modification_date', 'fields.country',
       'fields.feature_class', 'fields.admin3_code', 'fields.alternate_names',
       'fields.feature_code', 'fields.longitude', 'fields.geoname_id',
       'fields.timezone', 'fields.dem', 'fields.country_code',
       'fields.ascii_name', 'fields.latitude', 'fields.admin1_code',
       'fields.coordinates', 'fields.admin2_code', 'fields.population',
       'geometry.type', 'geometry.coordinates'],
      dtype='object')

In [63]:
#select columns
cities_df = cities_df[['fields.name', 'fields.admin1_code', 'fields.country_code', 'fields.population', 'fields.latitude', 'fields.longitude']]

In [64]:
#rename columns
cities_df = cities_df.rename(columns={'fields.name': 'City', 'fields.admin1_code': 'State', 'fields.country_code': 'Country',
       'fields.population': 'Population', 'fields.latitude': 'Latitude', 'fields.longitude': 'Longitude'})

In [65]:
#create group object containing state groups of cities
city_grp = cities_df.groupby(['State'])

In [66]:
#iterate group object and return max population for each group (state) in group object
lgst_cities = city_grp.apply(lambda g: g[g['Population'] == g['Population'].max()])

In [67]:
#reset the indexes
lgst_cities = lgst_cities.reset_index(drop=True)
lgst_cities

                 City State Country  Population  Latitude   Longitude
0           Anchorage    AK      US      298695  61.21806  -149.90028
1          Birmingham    AL      US      212461  33.52066   -86.80249
2         Little Rock    AR      US      197992  34.74648   -92.28959
3             Phoenix    AZ      US     1563025  33.44838  -112.07404
4         Los Angeles    CA      US     3971883  34.05223  -118.24368
5              Denver    CO      US      682545  39.73915   -104.9847
6          Bridgeport    CT      US      147629  41.17923   -73.18945
7          Washington    DC      US      601723  38.89511   -77.03637
8          Wilmington    DE      US       71948  39.74595   -75.54659
9        Jacksonville    FL      US      868031  30.33218   -81.65565
10            Atlanta    GA      US      463878    33.749   -84.38798
11           Honolulu    HI      US      371657  21.30694  -157.85833
12         Des Moines    IA      US      210330  41.60054   -93.60911
13              Boise    ID      US      145987   43.6135  -116.20345
14            Chicago    IL      US     2720546  41.85003   -87.65005
15       Indianapolis    IN      US      829718  39.76838   -86.15804
16            Wichita    KS      US      389965  37.69224   -97.33754
17  Lexington-Fayette    KY      US      314488   38.0498   -84.45855
18        New Orleans    LA      US      389617  29.95465   -90.07507
19             Boston    MA      US      667137  42.35843   -71.05977
20          Baltimore    MD      US      621849  39.29038   -76.61219
21           Portland    ME      US       66881  43.65737    -70.2589
22            Detroit    MI      US      677116  42.33143   -83.04575
23        Minneapolis    MN      US      410939  44.97997   -93.26384
24        Kansas City    MO      US      475378  39.09973   -94.57857
25            Jackson    MS      US      170674  32.29876   -90.18481
26           Billings    MT      US      110263  45.78329  -108.50069
27          Charlotte    NC      US      827097  35.22709   -80.84313
28              Fargo    ND      US      118523  46.87719    -96.7898
29              Omaha    NE      US      443885  41.25626   -95.94043
30         Manchester    NH      US      110229  42.99564   -71.45479
31             Newark    NJ      US      281944  40.73566   -74.17237
32        Albuquerque    NM      US      559121  35.08449  -106.65114
33          Las Vegas    NV      US      623747  36.17497  -115.13722
34      New York City    NY      US     8175133  40.71427   -74.00597
35           Columbus    OH      US      850106  39.96118   -82.99879
36      Oklahoma City    OK      US      631346  35.46756   -97.51643
37           Portland    OR      US      632309  45.52345  -122.67621
38       Philadelphia    PA      US     1567442  39.95233   -75.16379
39         Providence    RI      US      179207  41.82399   -71.41283
40           Columbia    SC      US      133803  34.00071   -81.03481
41        Sioux Falls    SD      US      171544  43.54997   -96.70033
42            Memphis    TN      US      655770  35.14953   -90.04898
43            Houston    TX      US     2296224  29.76328   -95.36327
44     Salt Lake City    UT      US      192672  40.76078  -111.89105
45     Virginia Beach    VA      US      452745  36.85293   -75.97799
46         Burlington    VT      US       42452  44.47588   -73.21207
47            Seattle    WA      US      684451  47.60621  -122.33207
48          Milwaukee    WI      US      600155   43.0389   -87.90647
49         Charleston    WV      US       49736  38.34982   -81.63262
50           Cheyenne    WY      US       63335  41.13998  -104.82025

In [68]:
#add colums for retrieved data
new_cols = ['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture']
for col in new_cols:
    lgst_cities[col] = ""
lgst_cities

,City,State,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,US,298695,61.21806,-149.90028,,,,,,,,,,,,,,,
1,Birmingham,AL,US,212461,33.52066,-86.80249,,,,,,,,,,,,,,,
2,Little Rock,AR,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,
3,Phoenix,AZ,US,1563025,33.44838,-112.07404,,,,,,,,,,,,,,,
4,Los Angeles,CA,US,3971883,34.05223,-118.24368,,,,,,,,,,,,,,,
5,Denver,CO,US,682545,39.73915,-104.9847,,,,,,,,,,,,,,,
6,Bridgeport,CT,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,
7,Washington,DC,US,601723,38.89511,-77.03637,,,,,,,,,,,,,,,
8,Wilmington,DE,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,
9,Jacksonville,FL,US,868031,30.33218,-81.65565,,,,,,,,,,,,,,,
10,Atlanta,GA,US,463878,33.749,-84.38798,,,,,,,,,,,,,,,
11,Honolulu,HI,US,371657,21.30694,-157.85833,,,,,,,,,,,,,,,
12,Des Moines,IA,US,210330,41.60054,-93.60911,,,,,,,,,,,,,,,
13,Boise,ID,US,145987,43.6135,-116.20345,,,,,,,,,,,,,,,
14,Chicago,IL,US,2720546,41.85003,-87.65005,,,,,,,,,,,,,,,
15,Indianapolis,IN,US,829718,39.76838,-86.15804,,,,,,,,,,,,,,,
16,Wichita,KS,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,
17,Lexington-Fayette,KY,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,
18,New Orleans,LA,US,389617,29.95465,-90.07507,,,,,,,,,,,,,,,
19,Boston,MA,US,667137,42.35843,-71.05977,,,,,,,,,,,,,,,
20,Baltimore,MD,US,621849,39.29038,-76.61219,,,,,,,,,,,,,,,
21,Portland,ME,US,66881,43.65737,-70.2589,,,,,,,,,,,,,,,
22,Detroit,MI,US,677116,42.33143,-83.04575,,,,,,,,,,,,,,,
23,Minneapolis,MN,US,410939,44.97997,-93.26384,,,,,,,,,,,,,,,
24,Kansas City,MO,US,475378,39.09973,-94.57857,,,,,,,,,,,,,,,
25,Jackson,MS,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,
26,Billings,MT,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,
27,Charlotte,NC,US,827097,35.22709,-80.84313,,,,,,,,,,,,,,,
28,Fargo,ND,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,
29,Omaha,NE,US,443885,41.25626,-95.94043,,,,,,,,,,,,,,,
30,Manchester,NH,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,
31,Newark,NJ,US,281944,40.73566,-74.17237,,,,,,,,,,,,,,,
32,Albuquerque,NM,US,559121,35.08449,-106.65114,,,,,,,,,,,,,,,
33,Las Vegas,NV,US,623747,36.17497,-115.13722,,,,,,,,,,,,,,,
34,New York City,NY,US,8175133,40.71427,-74.00597,,,,,,,,,,,,,,,
35,Columbus,OH,US,850106,39.96118,-82.99879,,,,,,,,,,,,,,,
36,Oklahoma City,OK,US,631346,35.46756,-97.51643,,,,,,,,,,,,,,,
37,Portland,OR,US,632309,45.52345,-122.67621,,,,,,,,,,,,,,,
38,Philadelphia,PA,US,1567442,39.95233,-75.16379,,,,,,,,,,,,,,,
39,Providence,RI,US,179207,41.82399,-71.41283,,,,,,,,,,,,,,,
40,Columbia,SC,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,
41,Sioux Falls,SD,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,
42,Memphis,TN,US,655770,35.14953,-90.04898,,,,,,,,,,,,,,,
43,Houston,TX,US,2296224,29.76328,-95.36327,,,,,,,,,,,,,,,
44,Salt Lake City,UT,US,192672,40.76078,-111.89105,,,,,,,,,,,,,,,
45,Virginia Beach,VA,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,
46,Burlington,VT,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,
47,Seattle,WA,US,684451,47.60621,-122.33207,,,,,,,,,,,,,,,
48,Milwaukee,WI,US,600155,43.0389,-87.90647,,,,,,,,,,,,,,,
49,Charleston,WV,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,
50,Cheyenne,WY,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,

In [69]:
#MAKE REQUEST AND STORE DATA BACK IN DATAFRAME

#The URL is kind of crazy becausae you have to find the city in an urban area and then push the urban area into the query - it's nested.  They provide some instructions, but their example is wrong, so don't follow that.  The instructions are:  "Alternatively, we can find the Urban Area that a city belongs to. E.g. let's find out how the urban area corresponding to Palo Alto, California performs in terms of Teleport scores. Let's use the API Explorer for the city search endpoint to construct the URL. In the search field enter Palo Alto, California, in the embed field, type city:search-results/city:item/city:urban_area/ua:scores, and click the Try it out! button."

#Base URL 
url_open = 'https://api.teleport.org/api/cities/?search='
url_close = "&limit=1&embed=city%3Asearch-results%2Fcity%3Aitem%2Fcity%3Aurban_area%2Fua%3Ascores"

#create a list to loop to gather json data from response
my_categories = pd.DataFrame(new_cols)

print("""
Beginning processing city data:
------------------------------------------""")

#loop dataframe randomly created above and return data / use the index so the return data can be pushed into the existing lgst_cities dataframe
for ind in lgst_cities.index:

    #get city data and transform 
    my_city = lgst_cities['City'][ind].replace(' ', '%20')
    my_state = lgst_cities['State'][ind]

    urban_area = my_city + '%2C%20' + my_state

    # Build query URL
    query_url = f"{url_open}{urban_area}{url_close}"

    #make request and hold response
    response = requests.get(query_url).json()
    
    try:
        print(f"Processing Record {ind + 1} of {len(lgst_cities)}: {my_city}, {my_state}.")
        
        #gather data for each category
        for x in my_categories.index:
                    
            my_category = my_categories.iloc[x, 0]
                    
            #parse json for data
            my_data = response['_embedded']['city:search-results'][0]['_embedded']['city:item']['_embedded']['city:urban_area']['_embedded']['ua:scores']['categories'][x]['score_out_of_10']
                    
            #write the data to the dataframe
            lgst_cities.loc[lgst_cities.index[ind], my_category] = my_data

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Beginning processing city data:
------------------------------------------
Processing Record 1 of 51: Anchorage, AK.
Processing Record 2 of 51: Birmingham, AL.
Processing Record 3 of 51: Little%20Rock, AR.
Missing field/result... skipping.
Processing Record 4 of 51: Phoenix, AZ.
Processing Record 5 of 51: Los%20Angeles, CA.
Processing Record 6 of 51: Denver, CO.
Processing Record 7 of 51: Bridgeport, CT.
Missing field/result... skipping.
Processing Record 8 of 51: Washington, DC.
Processing Record 9 of 51: Wilmington, DE.
Missing field/result... skipping.
Processing Record 10 of 51: Jacksonville, FL.
Processing Record 11 of 51: Atlanta, GA.
Processing Record 12 of 51: Honolulu, HI.
Processing Record 13 of 51: Des%20Moines, IA.
Processing Record 14 of 51: Boise, ID.
Processing Record 15 of 51: Chicago, IL.
Processing Record 16 of 51: Indianapolis, IN.
Processing Record 17 of 51: Wichita, KS.
Missing field/result... skipping.
Processing Record 18 of 51: Lexington-Fayette, KY.
Missing field/result... skipping.
Processing Record 19 of 51: New%20Orleans, LA.
Processing Record 20 of 51: Boston, MA.
Processing Record 21 of 51: Baltimore, MD.
Processing Record 22 of 51: Portland, ME.
Processing Record 23 of 51: Detroit, MI.
Processing Record 24 of 51: Minneapolis, MN.
Processing Record 25 of 51: Kansas%20City, MO.
Processing Record 26 of 51: Jackson, MS.
Missing field/result... skipping.
Processing Record 27 of 51: Billings, MT.
Missing field/result... skipping.
Processing Record 28 of 51: Charlotte, NC.
Processing Record 29 of 51: Fargo, ND.
Missing field/result... skipping.
Processing Record 30 of 51: Omaha, NE.
Processing Record 31 of 51: Manchester, NH.
Missing field/result... skipping.
Processing Record 32 of 51: Newark, NJ.
Processing Record 33 of 51: Albuquerque, NM.
Processing Record 34 of 51: Las%20Vegas, NV.
Processing Record 35 of 51: New%20York%20City, NY.
Processing Record 36 of 51: Columbus, OH.
Processing Record 37 of 51: Oklahoma%20City, OK.
Processing Record 38 of 51: Portland, OR.
Processing Record 39 of 51: Philadelphia, PA.
Processing Record 40 of 51: Providence, RI.
Processing Record 41 of 51: Columbia, SC.
Missing field/result... skipping.
Processing Record 42 of 51: Sioux%20Falls, SD.
Missing field/result... skipping.
Processing Record 43 of 51: Memphis, TN.
Processing Record 44 of 51: Houston, TX.
Processing Record 45 of 51: Salt%20Lake%20City, UT.
Processing Record 46 of 51: Virginia%20Beach, VA.
Missing field/result... skipping.
Processing Record 47 of 51: Burlington, VT.
Missing field/result... skipping.
Processing Record 48 of 51: Seattle, WA.
Processing Record 49 of 51: Milwaukee, WI.
Processing Record 50 of 51: Charleston, WV.
Missing field/result... skipping.
Processing Record 51 of 51: Cheyenne, WY.
Missing field/result... skipping.

In [71]:
lgst_cities

,City,State,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,1.738,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266
1,Birmingham,AL,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,1.4355,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835
2,Little Rock,AR,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,
3,Phoenix,AZ,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,3.3025,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81
4,Los Angeles,CA,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,3.9585,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196
5,Denver,CO,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,4.243,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235
6,Bridgeport,CT,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,
7,Washington,DC,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,4.505,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10
8,Wilmington,DE,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,
9,Jacksonville,FL,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,1.5675,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545
10,Atlanta,GA,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,5.2915,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655
11,Honolulu,HI,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,1.983,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623
12,Des Moines,IA,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,1.379,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665
13,Boise,ID,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,1.3235,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995
14,Chicago,IL,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,5.5075,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193
15,Indianapolis,IN,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,1.6815,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299
16,Wichita,KS,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,
17,Lexington-Fayette,KY,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,
18,New Orleans,LA,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,1.757,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985
19,Boston,MA,US,667137,42.35843,-71.05977,1,4.259,9.565,10,3.215,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564
20,Baltimore,MD,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,3.6665,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0
21,Portland,ME,US,66881,43.65737,-70.2589,0,0,3.637,0,1.102,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305
22,Detroit,MI,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,3.6405,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478
23,Minneapolis,MN,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,3.544,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505
24,Kansas City,MO,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,1.869,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745
25,Jackson,MS,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,
26,Billings,MT,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,
27,Charlotte,NC,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,3.679,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606
28,Fargo,ND,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,
29,Omaha,NE,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,1.4165,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942
30,Manchester,NH,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,
31,Newark,NJ,US,281944,40.73566,-74.17237,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
32,Albuquerque,NM,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,1.4555,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89
33,Las Vegas,NV,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,3.5285,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685
34,New York City,NY,US,8175133,40.71427,-74.00597,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
35,Columbus,OH,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,1.663,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466
36,Oklahoma City,OK,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,1.399,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376
37,Portland,OR,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,2.2405,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195
38,Philadelphia,PA,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,3.556,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492
39,Providence,RI,US,179207,41.82399,-71.41283,3.153,0,3.764,1,3.0185,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185
40,Columbia,SC,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,
41,Sioux Falls,SD,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,
42,Memphis,TN,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,1.6615,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605
43,Houston,TX,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144
44,Salt Lake City,UT,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,2.737,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932
45,Virginia Beach,VA,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,
46,Burlington,VT,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,
47,Seattle,WA,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155
48,Milwaukee,WI,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375
49,Charleston,WV,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,
50,Cheyenne,WY,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,

In [80]:
##Get the federal county identifier (fips)
## sample url https://geo.fcc.gov/api/census/block/find?latitude=45&longitude=-93&format=xml
## First step is to create 'fips' and 'county' columns in the lgst cities df

lgst_cities.insert(2, 'County', '')
lgst_cities.insert(3, 'FIPS', '')
lgst_cities

,City,State,County,FIPS,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,,,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,1.738,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266
1,Birmingham,AL,,,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,1.4355,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835
2,Little Rock,AR,,,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,
3,Phoenix,AZ,,,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,3.3025,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81
4,Los Angeles,CA,,,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,3.9585,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196
5,Denver,CO,,,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,4.243,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235
6,Bridgeport,CT,,,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,
7,Washington,DC,,,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,4.505,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10
8,Wilmington,DE,,,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,
9,Jacksonville,FL,,,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,1.5675,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545
10,Atlanta,GA,,,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,5.2915,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655
11,Honolulu,HI,,,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,1.983,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623
12,Des Moines,IA,,,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,1.379,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665
13,Boise,ID,,,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,1.3235,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995
14,Chicago,IL,,,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,5.5075,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193
15,Indianapolis,IN,,,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,1.6815,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299
16,Wichita,KS,,,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,
17,Lexington-Fayette,KY,,,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,
18,New Orleans,LA,,,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,1.757,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985
19,Boston,MA,,,US,667137,42.35843,-71.05977,1,4.259,9.565,10,3.215,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564
20,Baltimore,MD,,,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,3.6665,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0
21,Portland,ME,,,US,66881,43.65737,-70.2589,0,0,3.637,0,1.102,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305
22,Detroit,MI,,,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,3.6405,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478
23,Minneapolis,MN,,,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,3.544,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505
24,Kansas City,MO,,,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,1.869,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745
25,Jackson,MS,,,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,
26,Billings,MT,,,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,
27,Charlotte,NC,,,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,3.679,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606
28,Fargo,ND,,,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,
29,Omaha,NE,,,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,1.4165,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942
30,Manchester,NH,,,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,
31,Newark,NJ,,,US,281944,40.73566,-74.17237,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
32,Albuquerque,NM,,,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,1.4555,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89
33,Las Vegas,NV,,,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,3.5285,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685
34,New York City,NY,,,US,8175133,40.71427,-74.00597,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
35,Columbus,OH,,,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,1.663,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466
36,Oklahoma City,OK,,,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,1.399,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376
37,Portland,OR,,,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,2.2405,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195
38,Philadelphia,PA,,,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,3.556,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492
39,Providence,RI,,,US,179207,41.82399,-71.41283,3.153,0,3.764,1,3.0185,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185
40,Columbia,SC,,,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,
41,Sioux Falls,SD,,,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,
42,Memphis,TN,,,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,1.6615,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605
43,Houston,TX,,,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144
44,Salt Lake City,UT,,,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,2.737,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932
45,Virginia Beach,VA,,,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,
46,Burlington,VT,,,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,
47,Seattle,WA,,,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155
48,Milwaukee,WI,,,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375
49,Charleston,WV,,,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,
50,Cheyenne,WY,,,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,

In [86]:
##Loop through and make the call for federal county identifier (fips) and write data to df

for ind in lgst_cities.index:

    #get city data and transform 
    my_city = lgst_cities['City'][ind]
    my_state = lgst_cities['State'][ind]
    lat = lgst_cities['Latitude'][ind]
    lon = lgst_cities['Longitude'][ind]

    #Contruct request URL
    query_url = f"https://geo.fcc.gov/api/census/block/find?latitude={lat}&longitude={lon}&format=json" 

    #make request and hold response
    response = requests.get(query_url).json()

    try:
        #print(f"Processing Record {ind + 1} of {len(lgst_cities)}: {my_city}, {my_state}.")
        
        #gather data for each category
        for x in my_categories.index:

            my_county = response['County']['name']
            my_fips = response['County']['FIPS']  

            #write data to df
            lgst_cities.loc[lgst_cities.index[ind], 'County'] = my_county
            lgst_cities.loc[lgst_cities.index[ind], 'FIPS'] = my_fips  


    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

lgst_cities

,City,State,County,FIPS,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,Anchorage,02020,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,1.738,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266
1,Birmingham,AL,Jefferson,01073,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,1.4355,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835
2,Little Rock,AR,Pulaski,05119,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,
3,Phoenix,AZ,Maricopa,04013,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,3.3025,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81
4,Los Angeles,CA,Los Angeles,06037,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,3.9585,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196
5,Denver,CO,Denver,08031,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,4.243,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235
6,Bridgeport,CT,Fairfield,09001,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,
7,Washington,DC,District of Columbia,11001,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,4.505,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10
8,Wilmington,DE,New Castle,10003,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,
9,Jacksonville,FL,Duval,12031,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,1.5675,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545
10,Atlanta,GA,Fulton,13121,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,5.2915,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655
11,Honolulu,HI,Honolulu,15003,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,1.983,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623
12,Des Moines,IA,Polk,19153,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,1.379,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665
13,Boise,ID,Ada,16001,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,1.3235,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995
14,Chicago,IL,Cook,17031,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,5.5075,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193
15,Indianapolis,IN,Marion,18097,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,1.6815,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299
16,Wichita,KS,Sedgwick,20173,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,
17,Lexington-Fayette,KY,Fayette,21067,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,
18,New Orleans,LA,Orleans,22071,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,1.757,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985
19,Boston,MA,Suffolk,25025,US,667137,42.35843,-71.05977,1,4.259,9.565,10,3.215,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564
20,Baltimore,MD,Baltimore City,24510,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,3.6665,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0
21,Portland,ME,Cumberland,23005,US,66881,43.65737,-70.2589,0,0,3.637,0,1.102,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305
22,Detroit,MI,Wayne,26163,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,3.6405,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478
23,Minneapolis,MN,Hennepin,27053,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,3.544,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505
24,Kansas City,MO,Jackson,29095,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,1.869,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745
25,Jackson,MS,Hinds,28049,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,
26,Billings,MT,Yellowstone,30111,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,
27,Charlotte,NC,Mecklenburg,37119,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,3.679,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606
28,Fargo,ND,Cass,38017,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,
29,Omaha,NE,Douglas,31055,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,1.4165,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942
30,Manchester,NH,Hillsborough,33011,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,
31,Newark,NJ,Essex,34013,US,281944,40.73566,-74.17237,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
32,Albuquerque,NM,Bernalillo,35001,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,1.4555,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89
33,Las Vegas,NV,Clark,32003,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,3.5285,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685
34,New York City,NY,New York,36061,US,8175133,40.71427,-74.00597,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
35,Columbus,OH,Franklin,39049,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,1.663,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466
36,Oklahoma City,OK,Oklahoma,40109,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,1.399,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376
37,Portland,OR,Multnomah,41051,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,2.2405,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195
38,Philadelphia,PA,Philadelphia,42101,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,3.556,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492
39,Providence,RI,Providence,44007,US,179207,41.82399,-71.41283,3.153,0,3.764,1,3.0185,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185
40,Columbia,SC,Richland,45079,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,
41,Sioux Falls,SD,Minnehaha,46099,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,
42,Memphis,TN,Shelby,47157,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,1.6615,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605
43,Houston,TX,Harris,48201,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144
44,Salt Lake City,UT,Salt Lake,49035,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,2.737,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932
45,Virginia Beach,VA,Virginia Beach City,51810,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,
46,Burlington,VT,Chittenden,50007,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,
47,Seattle,WA,King,53033,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155
48,Milwaukee,WI,Milwaukee,55079,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375
49,Charleston,WV,Kanawha,54039,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,
50,Cheyenne,WY,Laramie,56021,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,

In [109]:
#Import county suicide rates
cdc_file = 'county_suicide_rates.csv'
suicide_data = pd.read_csv(cdc_file)

In [110]:
suicide_data = suicide_data.rename(columns={"County Code": "FIPS"})
suicide_data

,Unnamed: 0,County,FIPS,Deaths sum,summed_crude_rate,summed_adjusted_rate
0,1,"Baldwin County, AL",1003,34.0,15.230655,13.93443
1,2,"Calhoun County, AL",1015,15.0,13.203644,NaN
2,3,"Colbert County, AL",1033,12.0,21.722996,NaN
3,4,"DeKalb County, AL",1049,18.0,25.170249,NaN
4,5,"Elmore County, AL",1051,12.0,14.776687,NaN
...,...,...,...,...,...,...
515,967,"Racine County, WI",55101,16.0,8.150333,NaN
516,968,"Waukesha County, WI",55133,19.0,4.700667,NaN
517,969,"Laramie County, WY",56021,16.0,16.080402,NaN
518,970,"Natrona County, WY",56025,19.0,23.792231,NaN
519,971,"Sweetwater County, WY",56037,11.0,25.978320,NaN

In [111]:
suicide_data['FIPS'] = suicide_data['FIPS'].apply(str)

In [112]:
suicide_data['FIPS'] = suicide_data['FIPS'].str.zfill(5)

In [113]:
suicide_data

,Unnamed: 0,County,FIPS,Deaths sum,summed_crude_rate,summed_adjusted_rate
0,1,"Baldwin County, AL",01003,34.0,15.230655,13.93443
1,2,"Calhoun County, AL",01015,15.0,13.203644,NaN
2,3,"Colbert County, AL",01033,12.0,21.722996,NaN
3,4,"DeKalb County, AL",01049,18.0,25.170249,NaN
4,5,"Elmore County, AL",01051,12.0,14.776687,NaN
...,...,...,...,...,...,...
515,967,"Racine County, WI",55101,16.0,8.150333,NaN
516,968,"Waukesha County, WI",55133,19.0,4.700667,NaN
517,969,"Laramie County, WY",56021,16.0,16.080402,NaN
518,970,"Natrona County, WY",56025,19.0,23.792231,NaN
519,971,"Sweetwater County, WY",56037,11.0,25.978320,NaN

In [114]:
# Combine the data into a single dataset (County Code)
combined_data = lgst_cities.merge(suicide_data, how='left', on='FIPS')

In [123]:
combined_data.tail()

,City,State,County_x,FIPS,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Unnamed: 0,County_y,Deaths sum,summed_crude_rate,summed_adjusted_rate
46,Burlington,VT,Chittenden,50007,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN
47,Seattle,WA,King,53033,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155,938.0,"King County, WA",297.0,13.183699,NaN
48,Milwaukee,WI,Milwaukee,55079,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375,966.0,"Milwaukee County, WI",75.0,7.930415,7.721721
49,Charleston,WV,Kanawha,54039,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN
50,Cheyenne,WY,Laramie,56021,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,,969.0,"Laramie County, WY",16.0,16.080402,NaN

In [128]:
combined_data['model_based_death_rate'] = ''

In [130]:
combined_data

,City,State,County_x,FIPS,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Unnamed: 0,County_y,Deaths sum,summed_crude_rate,summed_adjusted_rate,model_based_death_rate
0,Anchorage,AK,Anchorage,02020,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,1.738,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266,22.0,"Anchorage Borough, AK",44.0,15.277778,14.983975,
1,Birmingham,AL,Jefferson,01073,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,1.4355,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835,9.0,"Jefferson County, AL",69.0,10.477198,10.346234,
2,Little Rock,AR,Pulaski,05119,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,,57.0,"Pulaski County, AR",47.0,11.992519,12.247680,
3,Phoenix,AZ,Maricopa,04013,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,3.3025,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81,37.0,"Maricopa County, AZ",700.0,15.606140,15.606140,
4,Los Angeles,CA,Los Angeles,06037,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,3.9585,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196,86.0,"Los Angeles County, CA",833.0,8.297551,8.297551,
5,Denver,CO,Denver,08031,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,4.243,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235,165.0,"Denver County, CO",124.0,17.051447,NaN,
6,Bridgeport,CT,Fairfield,09001,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,,188.0,"Fairfield County, CT",57.0,6.042411,NaN,
7,Washington,DC,District of Columbia,11001,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,4.505,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10,202.0,"District of Columbia, DC",27.0,3.825723,NaN,
8,Wilmington,DE,New Castle,10003,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,,199.0,"New Castle County, DE",41.0,7.337768,NaN,
9,Jacksonville,FL,Duval,12031,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,1.5675,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545,222.0,"Duval County, FL",141.0,14.721928,13.571777,
10,Atlanta,GA,Fulton,13121,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,5.2915,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655,301.0,"Fulton County, GA",86.0,8.083185,8.083185,
11,Honolulu,HI,Honolulu,15003,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,1.983,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623,318.0,"Honolulu County, HI",103.0,10.568840,NaN,
12,Des Moines,IA,Polk,19153,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,1.379,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665,378.0,"Polk County, IA",62.0,12.648905,12.205084,
13,Boise,ID,Ada,16001,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,1.3235,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995,322.0,"Ada County, ID",61.0,12.666455,NaN,
14,Chicago,IL,Cook,17031,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,5.5075,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193,337.0,"Cook County, IL",438.0,8.504470,8.504470,
15,Indianapolis,IN,Marion,18097,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,1.6815,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299,368.0,"Marion County, IN",92.0,9.537810,9.822522,
16,Wichita,KS,Sedgwick,20173,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,,384.0,"Sedgwick County, KS",74.0,14.339918,14.339918,
17,Lexington-Fayette,KY,Fayette,21067,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,,388.0,"Fayette County, KY",24.0,7.426846,NaN,
18,New Orleans,LA,Orleans,22071,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,1.757,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985,406.0,"Orleans Parish, LA",29.0,7.433153,NaN,
19,Boston,MA,Suffolk,25025,US,667137,42.35843,-71.05977,1,4.259,9.565,10,3.215,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564,449.0,"Suffolk County, MA",28.0,3.482990,3.184448,
20,Baltimore,MD,Baltimore City,24510,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,3.6665,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0,436.0,"Baltimore city, MD",39.0,6.571299,NaN,
21,Portland,ME,Cumberland,23005,US,66881,43.65737,-70.2589,0,0,3.637,0,1.102,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305,415.0,"Cumberland County, ME",26.0,8.813470,NaN,
22,Detroit,MI,Wayne,26163,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,3.6405,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478,481.0,"Wayne County, MI",162.0,9.260620,9.260620,
23,Minneapolis,MN,Hennepin,27053,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,3.544,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505,490.0,"Hennepin County, MN",141.0,11.138822,NaN,
24,Kansas City,MO,Jackson,29095,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,1.869,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745,514.0,"Jackson County, MO",111.0,15.789227,15.962734,
25,Jackson,MS,Hinds,28049,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,,500.0,"Hinds County, MS",20.0,8.626639,8.526329,
26,Billings,MT,Yellowstone,30111,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,,527.0,"Yellowstone County, MT",35.0,21.698698,21.220050,
27,Charlotte,NC,Mecklenburg,37119,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,3.679,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606,636.0,"Mecklenburg County, NC",69.0,6.214223,NaN,
28,Fargo,ND,Cass,38017,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,,647.0,"Cass County, ND",23.0,12.642711,NaN,
29,Omaha,NE,Douglas,31055,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,1.4165,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942,529.0,"Douglas County, NE",67.0,11.727084,11.298045,
30,Manchester,NH,Hillsborough,33011,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,,546.0,"Hillsborough County, NH",68.0,16.305977,15.302532,
31,Newark,NJ,Essex,34013,US,281944,40.73566,-74.17237,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10,558.0,"Essex County, NJ",26.0,3.254169,3.155558,
32,Albuquerque,NM,Bernalillo,35001,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,1.4555,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89,571.0,"Bernalillo County, NM",127.0,18.700644,17.542198,
33,Las Vegas,NV,Clark,32003,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,3.5285,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685,538.0,"Clark County, NV",369.0,16.279065,NaN,
34,New York City,NY,New York,36061,US,8175133,40.71427,-74.00597,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10,602.0,"New York County, NY",98.0,6.017047,5.322772,
35,Columbus,OH,Franklin,39049,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,1.663,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466,662.0,"Franklin County, OH",124.0,9.417083,9.617447,
36,Oklahoma City,OK,Oklahoma,40109,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,1.399,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376,694.0,"Oklahoma County, OK",143.0,17.932519,NaN,
37,Portland,OR,Multnomah,41051,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,2.2405,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195,719.0,"Multnomah County, OR",133.0,16.362082,NaN,
38,Philadelphia,PA,Philadelphia,42101,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,3.556,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492,763.0,"Philadelphia County, PA",141.0,8.901156,NaN,
39,Providence,RI,Providence,44007,US,179207,41.82399,-71.41283,3.153,0,3.764,1,3.0185,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185,774.0,"Providence County, RI",40.0,6.260457,NaN,
40,Columbia,SC,Richland,45079,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,,789.0,"Richland County, SC",49.0,11.785674,11.314247,
41,Sioux Falls,SD,Minnehaha,46099,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,,794.0,"Minnehaha County, SD",12.0,6.213303,NaN,
42,Memphis,TN,Shelby,47157,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,1.6615,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605,816.0,"Shelby County, TN",92.0,9.816831,9.510054,
43,Houston,TX,Harris,48201,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144,860.0,"Harris County, TX",466.0,9.886863,NaN,
44,Salt Lake City,UT,Salt Lake,49035,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,2.737,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932,901.0,"Salt Lake County, UT",225.0,19.389247,19.862155,
45,Virginia Beach,VA,Virginia Beach City,51810,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,,923.0,"Virginia Beach city, VA",42.0,9.333873,9.063325,
46,Burlington,VT,Chittenden,50007,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,
47,Seattle,WA,King,53033,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155,938.0,"King County, WA",297.0,13.183699,NaN,
48,Milwaukee,WI,Milwaukee,55079,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375,966.0,"Milwaukee County, WI",75.0,7.930415,7.721721,
49,Charleston,WV,Kanawha,54039,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,
50,Cheyenne,WY,Laramie,56021,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,,969.0,"Laramie County, WY",16.0,16.080402,NaN,

In [136]:
##Death by drug poisoning by county
##Documentation url https://dev.socrata.com/foundry/data.cdc.gov/rpvx-m2md
# Sample call: 
# the_results = requests.get("https://data.cdc.gov/resource/rpvx-m2md.json?county=Hennepin County, MN&year=2018").json()

#Base URL 
url_open = 'https://data.cdc.gov/resource/rpvx-m2md.json?county='
url_close = '&year=2018'

print("""
Beginning processing city data:
------------------------------------------""")

#loop dataframe randomly created above and return data / use the index so the return data can be pushed into the existing combined_data dataframe
for ind in combined_data.index:

    #get county data and transform 
    my_county = combined_data['County_y'][ind]
    my_state = combined_data['State'][ind]

    # Build query URL
    query_url = f"{url_open}{my_county}{url_close}"

    #make request and hold response
    response = requests.get(query_url).json()
    
    try:
        print(f"Processing Record {ind + 1} of {len(combined_data)}: {my_county}.")
                    
        #write the data to the dataframe
        combined_data.loc[combined_data.index[ind], 'model_based_death_rate'] = response[0]['model_based_death_rate']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Beginning processing city data:
------------------------------------------
Processing Record 1 of 51: Anchorage Borough, AK.
Processing Record 2 of 51: Jefferson County, AL.
Processing Record 3 of 51: Pulaski County, AR.
Processing Record 4 of 51: Maricopa County, AZ.
Processing Record 5 of 51: Los Angeles County, CA.
Processing Record 6 of 51: Denver County, CO.
Processing Record 7 of 51: Fairfield County, CT.
Processing Record 8 of 51: District of Columbia, DC.
Processing Record 9 of 51: New Castle County, DE.
Processing Record 10 of 51: Duval County, FL.
Processing Record 11 of 51: Fulton County, GA.
Processing Record 12 of 51: Honolulu County, HI.
Processing Record 13 of 51: Polk County, IA.
Processing Record 14 of 51: Ada County, ID.
Processing Record 15 of 51: Cook County, IL.
Processing Record 16 of 51: Marion County, IN.
Processing Record 17 of 51: Sedgwick County, KS.
Processing Record 18 of 51: Fayette County, KY.
Processing Record 19 of 51: Orleans Parish, LA.
Processing Record 20 of 51: Suffolk County, MA.
Processing Record 21 of 51: Baltimore city, MD.
Processing Record 22 of 51: Cumberland County, ME.
Processing Record 23 of 51: Wayne County, MI.
Processing Record 24 of 51: Hennepin County, MN.
Processing Record 25 of 51: Jackson County, MO.
Processing Record 26 of 51: Hinds County, MS.
Processing Record 27 of 51: Yellowstone County, MT.
Processing Record 28 of 51: Mecklenburg County, NC.
Processing Record 29 of 51: Cass County, ND.
Processing Record 30 of 51: Douglas County, NE.
Processing Record 31 of 51: Hillsborough County, NH.
Processing Record 32 of 51: Essex County, NJ.
Processing Record 33 of 51: Bernalillo County, NM.
Processing Record 34 of 51: Clark County, NV.
Processing Record 35 of 51: New York County, NY.
Processing Record 36 of 51: Franklin County, OH.
Processing Record 37 of 51: Oklahoma County, OK.
Processing Record 38 of 51: Multnomah County, OR.
Processing Record 39 of 51: Philadelphia County, PA.
Processing Record 40 of 51: Providence County, RI.
Processing Record 41 of 51: Richland County, SC.
Processing Record 42 of 51: Minnehaha County, SD.
Processing Record 43 of 51: Shelby County, TN.
Processing Record 44 of 51: Harris County, TX.
Processing Record 45 of 51: Salt Lake County, UT.
Processing Record 46 of 51: Virginia Beach city, VA.
Processing Record 47 of 51: nan.
Missing field/result... skipping.
Processing Record 48 of 51: King County, WA.
Processing Record 49 of 51: Milwaukee County, WI.
Processing Record 50 of 51: nan.
Missing field/result... skipping.
Processing Record 51 of 51: Laramie County, WY.

In [140]:

combined_data = combined_data.drop(['Unnamed: 0', 'County_y', 'Deaths sum', 'summed_adjusted_rate'], axis = 1)
combined_data

In [142]:
combined_data = combined_data.rename(columns={'County_x': 'County', 'Housing': 'Teleport Housing Score', 'Cost of Living': 'Teleport Cost of Living Score', 'Startups': 'Teleport Startups Score', 'Venture Capital': 'Teleport Venture Capital', 'Travel Connectivity': 'Teleport Travel Connectivity', 'Commute': 'Teleport Commute Score', 'Business Freedom': 'Teleport Business Freedom Score', 'Safety': 'Teleport Safety Score', 'Healthcare': 'Teleport Healthcare Score', 'Education': 'Teleport Education Score', 'Environmental Quality': 'Teleport Environmental Quality Score', 'Economy': 'Teleport Economy Score', 'Taxation': 'Teleport Taxation Score', 'Internet Access': 'Teleport Internet Access Score', 'Leisure & Culture': 'Teleport Leisure & Culture Score', 'summed_crude_rate': 'CDC Death by Suicide per 100,000 (2019)', 'model_based_death_rate': 'CDC Death by Drug Poisoning per 100,000 (2018)'})

In [143]:
combined_data

,City,State,County,FIPS,Country,Population,Latitude,Longitude,Teleport Housing Score,Teleport Cost of Living Score,Teleport Startups Score,Teleport Venture Capital,Teleport Travel Connectivity,Teleport Commute Score,Teleport Business Freedom Score,Teleport Safety Score,Teleport Healthcare Score,Teleport Education Score,Teleport Environmental Quality Score,Teleport Economy Score,Teleport Taxation Score,Teleport Internet Access Score,Teleport Leisure & Culture Score,"CDC Death by Suicide per 100,000 (2019)","CDC Death by Drug Poisoning per 100,000 (2018)"
0,Anchorage,AK,Anchorage,02020,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,1.738,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266,15.277778,19.2637654435096
1,Birmingham,AL,Jefferson,01073,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,1.4355,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835,10.477198,27.2236310597525
2,Little Rock,AR,Pulaski,05119,US,197992,34.74648,-92.28959,,,,,,,,,,,,,,,,11.992519,19.6327145933898
3,Phoenix,AZ,Maricopa,04013,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,3.3025,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81,15.606140,24.4481190720841
4,Los Angeles,CA,Los Angeles,06037,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,3.9585,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196,8.297551,9.83699006252421
5,Denver,CO,Denver,08031,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,4.243,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235,17.051447,22.7747511495658
6,Bridgeport,CT,Fairfield,09001,US,147629,41.17923,-73.18945,,,,,,,,,,,,,,,,6.042411,18.996443721809
7,Washington,DC,District of Columbia,11001,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,4.505,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10,3.825723,34.0754890329238
8,Wilmington,DE,New Castle,10003,US,71948,39.74595,-75.54659,,,,,,,,,,,,,,,,7.337768,42.1039335569119
9,Jacksonville,FL,Duval,12031,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,1.5675,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545,14.721928,31.3907182637121
10,Atlanta,GA,Fulton,13121,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,5.2915,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655,8.083185,16.3259327323961
11,Honolulu,HI,Honolulu,15003,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,1.983,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623,10.568840,15.2740302998847
12,Des Moines,IA,Polk,19153,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,1.379,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665,12.648905,15.6007953492983
13,Boise,ID,Ada,16001,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,1.3235,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995,12.666455,16.102306390036
14,Chicago,IL,Cook,17031,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,5.5075,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193,8.504470,23.2869623189093
15,Indianapolis,IN,Marion,18097,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,1.6815,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299,9.537810,34.3696937665907
16,Wichita,KS,Sedgwick,20173,US,389965,37.69224,-97.33754,,,,,,,,,,,,,,,,14.339918,18.4133183356596
17,Lexington-Fayette,KY,Fayette,21067,US,314488,38.0498,-84.45855,,,,,,,,,,,,,,,,7.426846,36.5836386629988
18,New Orleans,LA,Orleans,22071,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,1.757,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985,7.433153,38.3104023317617
19,Boston,MA,Suffolk,25025,US,667137,42.35843,-71.05977,1,4.259,9.565,10,3.215,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564,3.482990,28.6668232126086
20,Baltimore,MD,Baltimore City,24510,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,3.6665,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0,6.571299,106.635164071484
21,Portland,ME,Cumberland,23005,US,66881,43.65737,-70.2589,0,0,3.637,0,1.102,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305,8.813470,24.0588178801812
22,Detroit,MI,Wayne,26163,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,3.6405,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478,9.260620,43.3433354825579
23,Minneapolis,MN,Hennepin,27053,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,3.544,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505,11.138822,14.0535058673706
24,Kansas City,MO,Jackson,29095,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,1.869,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745,15.789227,20.1247138982532
25,Jackson,MS,Hinds,28049,US,170674,32.29876,-90.18481,,,,,,,,,,,,,,,,8.626639,9.34099551952752
26,Billings,MT,Yellowstone,30111,US,110263,45.78329,-108.50069,,,,,,,,,,,,,,,,21.698698,18.6004714328701
27,Charlotte,NC,Mecklenburg,37119,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,3.679,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606,6.214223,18.1337589756183
28,Fargo,ND,Cass,38017,US,118523,46.87719,-96.7898,,,,,,,,,,,,,,,,12.642711,10.3602961862259
29,Omaha,NE,Douglas,31055,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,1.4165,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942,11.727084,9.19381697924086
30,Manchester,NH,Hillsborough,33011,US,110229,42.99564,-71.45479,,,,,,,,,,,,,,,,16.305977,36.2130220709246
31,Newark,NJ,Essex,34013,US,281944,40.73566,-74.17237,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10,3.254169,32.4817849824681
32,Albuquerque,NM,Bernalillo,35001,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,1.4555,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89,18.700644,29.6121636681074
33,Las Vegas,NV,Clark,32003,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,3.5285,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685,16.279065,22.3591654457847
34,New York City,NY,New York,36061,US,8175133,40.71427,-74.00597,1,2.342,10,10,6.675,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10,6.017047,17.0586673295869
35,Columbus,OH,Franklin,39049,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,1.663,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466,9.417083,37.0716806274032
36,Oklahoma City,OK,Oklahoma,40109,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,1.399,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376,17.932519,17.8809342740323
37,Portland,OR,Multnomah,41051,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,2.2405,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195,16.362082,21.2622825052856
38,Philadelphia,PA,Philadelphia,42101,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,3.556,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492,8.901156,59.1914819901151
39,Providence,RI,Providence,44007,US,179207,41.82399,-71.41283,3.153,0,3.764,1,3.0185,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185,6.260457,31.2730259350591
40,Columbia,SC,Richland,45079,US,133803,34.00071,-81.03481,,,,,,,,,,,,,,,,11.785674,17.5842594022758
41,Sioux Falls,SD,Minnehaha,46099,US,171544,43.54997,-96.70033,,,,,,,,,,,,,,,,6.213303,11.3608884462894
42,Memphis,TN,Shelby,47157,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,1.6615,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605,9.816831,17.1727692016195
43,Houston,TX,Harris,48201,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144,9.886863,12.7231647265859
44,Salt Lake City,UT,Salt Lake,49035,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,2.737,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932,19.389247,23.398565850882
45,Virginia Beach,VA,Virginia Beach City,51810,US,452745,36.85293,-75.97799,,,,,,,,,,,,,,,,9.333873,14.966590614774
46,Burlington,VT,Chittenden,50007,US,42452,44.47588,-73.21207,,,,,,,,,,,,,,,,NaN,
47,Seattle,WA,King,53033,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,2.8845,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155,13.183699,16.7402607850271
48,Milwaukee,WI,Milwaukee,55079,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,1.5875,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375,7.930415,36.777504379549
49,Charleston,WV,Kanawha,54039,US,49736,38.34982,-81.63262,,,,,,,,,,,,,,,,NaN,
50,Cheyenne,WY,Laramie,56021,US,63335,41.13998,-104.82025,,,,,,,,,,,,,,,,16.080402,16.0795496783428

In [144]:
combined_data.to_csv('largest_cities_df.csv')

In [ ]:
def make_plot(x, y, regress):
    
    data_year = combined_data.iloc[0]['Date'].date().strftime("%m/%d/%Y")

    #set the hemisphere
    if hem == 'northern':

        #get southern hemisphere data
        x_values = northern_hem_df['latitude']
        y_values = northern_hem_df[y]
    
    elif hem == 'southern':

        x_values = southern_hem_df["latitude"]
        y_values = southern_hem_df[y]

    else:
        x_values = combined_data['latitude']
        y_values = combined_data[y]

    #scatter plot
    plt.scatter(x_values, y_values, c='tab:blue', edgecolors='black')
    plt.title(f"City Latitude vs. {y} ({data_year})")
    plt.ylabel(f"{y} (%)")
    plt.xlabel("Latitude")
    plt.grid(True)

    if regress:
        #regression lin
        (slope, intercept, rvalue, pvalue, stderr) = st.linregress(x_values, y_values)
        regress_values = x_values * slope + intercept
        line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

        #plot regression line
        plt.plot(x_values,regress_values,"r-")
        #plt.annotate(line_eq,location='best' ,fontsize=15,color="red")

        print(f"The r-value is: {rvalue}")

    #display data
    
    plt.show()